<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/common.css">
  <link rel="stylesheet" href="../styles/about.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Barriecito&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
  

     <header>
      <div class="left">
        <p><i><a href="../index.html" style="color: #EB4740;">Hands of Trust</a></i></p>
      </div>

        

          <input type="checkbox" id="burger">
        
          <div class="burgerbox">
          <label for="burger" class="burgerlabel">
          <div class="burgerline"></div>
          <div class="burgerline"></div>
          <div class="burgerline"></div>
        </label>
          </div>

  
        
       

      <nav class="mid">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="" style="color: white;">About</a></li>
          <li><a href="./services.html">Services</a></li>
          <li><a href="../index.html#contacts">Contact</a></li>
        </ul>
      </nav>


      <div class="right">
        <div class="call">Call 123-456-7890</div>
      </div>
    </header>




        <section class="aboutus">

          <div class="up">
            
            <div class="up-child">

              <div class="left">
              <div class="title">
                <div class="animationbox1"></div>
                <h1>ABOUT</h1>
                <p><h3>Who We Are</h3></p>
              </div>

                <div class="animationbox2"></div>
              <div class="textup">
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.
              </div>

              <div class="textdown">
                This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.  At Wix we’re passionate about making templates that allow you to build fabulous websites and it’s all thanks to the support and feedback from users like you!
              </div>
            </div>

            <div class="right">

            </div>

            </div>

          </div>

             <div class="down">   

            <div class="title">
              <h1>OUR TEAM </h1>
            </div>

            <div class="boxes">
              <div class="box box1">
              <div class="img"></div>
              <div class="text">
                  <p>Handyman</p>
                  <p>Luka Ivanov</p>
              </div>
            </div>

            <div class="box box2">
              <div class="img"></div>
              <div class="text">
                <p>Senior Handyman</p>
                <p>Tarra Williams</p>
              </div>
            </div>

            <div class="box box3">
              <div class="img"></div>
              <div class="text">
                <p>Customer Support Lead</p>
                <p>Perer Kim</p>
              </div>
            </div>
            </div>
          
          </div>

        </section>



          <footer>

              <div class="down">

            <div class="box1">Hands of  Trust</div>
            <div class="box2"><p>123-456-7890</p> 
                              <p> info@mysite.com</p> 
                              <p>500 Terry Francine St. San Francisco, CA 94158</p>
            </div>


            <div class="box3">
              <p><a href="./privacy.html#privacy" style="color: white;">Privacy Policy</a></p>
              <p>Accessibility Statement</p>
              <p>© 2035 by Hands of Trust</p>
              <p>Powered and secured by Wix</p>
            </div>


          </div>

      </footer>









</body>
</html>