<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/ourteam.css">
  <link rel="stylesheet" href="../styles/common.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Barriecito&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
      <div class="left">
        <p><i><a href="../index.html" style="color: #EB4740;">Hands of Trust</a></i></p>
      </div>

        

          <input type="checkbox" id="burger">
        
          <div class="burgerbox">
          <label for="burger" class="burgerlabel">
          <div class="burgerline"></div>
          <div class="burgerline"></div>
          <div class="burgerline"></div>
        </label>
          </div>

  
        
       

      <nav class="mid">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="" style="color: white;">About</a></li>
          <li><a href="./services.html">Services</a></li>
          <li><a href="../index.html#contacts">Contact</a></li>
        </ul>
      </nav>


      <div class="right">
        <div class="call">Call 123-456-7890</div>
      </div>
    </header>



      <section class="ourteam">
        <div class="teamchild">
          <h1>OUR TEAM</h1>
        <div class="team">
          <div class="box box1">
            <div class="title">
              <h2>Luka Ivanov</h2>
            <h3>Handyman</h3>
            </div>
            <div class="member">
              <div class="boxleft"></div>
            <div class="boxright">Luka Ivanov is an experienced and dependable handyman who provides high-quality home repair and maintenance services. He specializes in installations, repairs, and general improvements, ensuring every job is completed safely and efficiently. Luka takes pride in his attention to detail, strong work ethic, and problem-solving skills. Known for his punctuality and clear communication, he builds trust with clients by delivering reliable results and friendly, professional service on every project.
            </div>

            </div>
          </div>

          <div class="box box2">
            <div class="title">
              <h2>Tara Williams</h2>
            <h3>Senior Handyman</h3>
            </div>
              <div class="member">
                <div class="boxleft"></div>
                <div class="boxright">Luka Ivanov is an experienced and dependable handyman who provides high-quality home repair and maintenance services. He specializes in installations, repairs, and general improvements, ensuring every job is completed safely and efficiently. Luka takes pride in his attention to detail, strong work ethic, and problem-solving skills. Known for his punctuality and clear communication, he builds trust with clients by delivering reliable results and friendly, professional service on every project.</div>
            
              </div>
          </div>

          <div class="box box3">
            <div class="title">
              <h2>Customer Support Lead</h2>
            <h3>Handyman</h3>
            </div>
            <div class="member">
              <div class="boxleft"></div>
              <div class="boxright">Luka Ivanov is an experienced and dependable handyman who provides high-quality home repair and maintenance services. He specializes in installations, repairs, and general improvements, ensuring every job is completed safely and efficiently. Luka takes pride in his attention to detail, strong work ethic, and problem-solving skills. Known for his punctuality and clear communication, he builds trust with clients by delivering reliable results and friendly, professional service on every project.</div>
            </div>
            
          </div>
        </div>
        </div>
      </section>












        <footer>

              <div class="down">

            <div class="box1">Hands of  Trust</div>
            <div class="box2"><p>123-456-7890</p> 
                              <p> info@mysite.com</p> 
                              <p>500 Terry Francine St. San Francisco, CA 94158</p>
            </div>


            <div class="box3">
              <p><a href="./privacy.html#privacy" style="color: white;">Privacy Policy</a></p>
              <p>Accessibility Statement</p>
              <p>© 2035 by Hands of Trust</p>
              <p>Powered and secured by Wix</p>
            </div>


          </div>

      </footer>


</body>
</html>