<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/common.css">
  <link rel="stylesheet" href="../styles/privacy.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Barriecito&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
  
<header>
      <div class="left">
        <p><i><a href="../index.html" style="color: #EB4740;">Hands of Trust</a></i></p>
      </div>

        

          <input type="checkbox" id="burger">
        
          <div class="burgerbox">
          <label for="burger" class="burgerlabel">
          <div class="burgerline"></div>
          <div class="burgerline"></div>
          <div class="burgerline"></div>
        </label>
          </div>

  
        
       

      <nav class="mid">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./services.html">Services</a></li>
          <li><a href="../index.html#contacts">Contact</a></li>
        </ul>
      </nav>


      <div class="right">
        <div class="call">Call 123-456-7890</div>
      </div>
    </header>



      <section id="privacy" class="privacy">
        <div class="title">
          <h1>
            PRIVACY POLICY
          </h1> 
        </div>

        <div class="boxes">
          <div class="box box1">
            <h2>A legal disclaimer</h2>

            <div class="text">
              The explanations and information provided on this page are only general and high-level explanations and information on how to write your own document of a Privacy Policy. You should not rely on this article as legal advice or as recommendations regarding what you should actually do, because we cannot know in advance what are the specific privacy policies you wish to establish between your business and your customers and visitors. We recommend that you seek legal advice to help you understand and to assist you in the creation of your own Privacy Policy.
            </div>
          </div>
          <div class="box box2">
            <h2>Privacy Policy - the basics</h2>

            <div class="text textup">
              Having said that, a privacy policy is a statement that discloses some or all of the ways a website collects, uses, discloses, processes, and manages the data of its visitors and customers. It usually also includes a statement regarding the website’s commitment to protecting its visitors’ or customers’ privacy, and an explanation about the different mechanisms the website is implementing in order to protect privacy. 
            </div>

            <div class="text textdown">
                Different jurisdictions have different legal obligations of what must be included in a Privacy Policy. You are responsible to make sure you are following the relevant legislation to your activities and location.
            </div>

          </div>
          <div class="box box3">
            <h2>What to include in the Privacy Policy</h2>
            <div class="text">
              Generally speaking, a Privacy Policy often addresses these types of issues: the types of information the website is collecting and the manner in which it collects the data; an explanation about why is the website collecting these types of information; what are the website’s practices on sharing the information with third parties; ways in which your visitors and customers can exercise their rights according to the relevant privacy legislation; the specific practices regarding minors’ data collection; and much, much more.
            </div>
          </div>

        </div>


      </section>












      <footer>

              <div class="down">

            <div class="box1">Hands of  Trust</div>
            <div class="box2"><p>123-456-7890</p> 
                              <p> info@mysite.com</p> 
                              <p>500 Terry Francine St. San Francisco, CA 94158</p>
            </div>


            <div class="box3">
              <p><a href=".#privacy" style="color: white;">Privacy Policy</a></p>
              <p>Accessibility Statement</p>
              <p>© 2035 by Hands of Trust</p>
              <p>Powered and secured by Wix</p>
            </div>


          </div>

      </footer>





</body>
</html>