<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/service.css">
  <link rel="stylesheet" href="../styles/common.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Barriecito&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
  
<header>
      <div class="left">
        <p><i><a href="../index.html" style="color: #EB4740;">Hands of Trust</a></i></p>
      </div>

        

          <input type="checkbox" id="burger">
        
          <div class="burgerbox">
          <label for="burger" class="burgerlabel">
          <div class="burgerline"></div>
          <div class="burgerline"></div>
          <div class="burgerline"></div>
        </label>
          </div>

  
        
       

      <nav class="mid">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="" style="color: white;">Services</a></li>
          <li><a href="../index.html#contacts">Contact</a></li>
        </ul>
      </nav>


      <div class="right">
        <div class="call">Call 123-456-7890</div>
      </div>
    </header>



    <section class="service">
      <div class="title">
        <h1>SERVICES</h1>
        <div class="animationbox1"></div>
         <button>Schedule a Service</button>
      </div>
      <div class="services">

        <div class="wholebox">

          <div class="box">

            <div class="boxtext1">
              <div class="animationbox2"></div>
                <h2>Home Repairs</h2>
            </div>

            <div class="boxtext2">
                  <div class="text">
                    <div class="animationbox3"></div>
                                  I’m a paragraph. This is where people can read more to learn about a subject written in this article. This is a great place to get readers hooked with an attention getter. This is a great place to establish your main point. It’s perfect to tell a story and let everyone know a little more about great ideas.

                  </div>
            </div>
            
          </div>
          <div class="whiteline"></div>

            

        </div>

        <div class="wholebox">

          <div class="box">

            <div class="boxtext1">
                <h2>Painting</h2>
            </div>

            <div class="boxtext2">
                  <div class="text">
                        I’m a paragraph. This is where people can read more to learn about a subject written in this article. This is a great place to get readers hooked with an attention getter.
                  </div>
            </div>
            
          </div>
          <div class="whiteline"></div>
            

        </div>

        <div class="wholebox">

          <div class="box">

            <div class="boxtext1">
                <h2>Carpentry</h2>
            </div>

            <div class="boxtext2">
                  <div class="text">
                          I’m a paragraph. This is where people can read more to learn about a subject written in this article. This is a great place to get readers hooked with an attention getter. This is a great place to establish your main point. It’s perfect to tell a story and let everyone know a little more about great ideas.
                  </div>
            </div>
            
          </div>
          <div class="whiteline"></div>

            

        </div>

        <div class="wholebox">

          <div class="box">

            <div class="boxtext1">
                <h2> Electric work </h2>
            </div>

            <div class="boxtext2">
                  <div class="text">
                        
I’m a paragraph. This is where people can read more to learn about a subject written in this article. This is a great place to get readers hooked with an attention getter. This is a great place to establish your main point. It’s perfect to tell a story and let everyone know a little more about great ideas.
                  </div>
            </div>
            
          </div>
          <div class="whiteline"></div>

            

        </div>

        <div class="wholebox">

          <div class="box">

            <div class="boxtext1">
                <h2>Plumbing</h2>
            </div>

            <div class="boxtext2">
                  <div class="text">
                          
                          I’m a perfect spot to go into detail and give more explanation about what’s being covered in the article. Here, there’ll be descriptions of the setting of an article to help people visualize the story being told. It can consist of long detailed sentences or just be short and punchy.
                  </div>
            </div>
            
          </div>
          <div class="whiteline"></div>
            

        </div>

        <div class="wholebox">

          <div class="box">

            <div class="boxtext1">
                <h2>General Maintenance</h2>
            </div>

            <div class="boxtext2">
                  <div class="text">
                            
I’m a paragraph. This is where people can read more to learn about a subject written in this article. This is a great place to get readers hooked with an attention getter. This is a great place to establish your main point. It’s perfect to tell a story and let everyone know a little more about great ideas.
                  </div>
            </div>
            
          </div>
          <div class="whiteline"></div>
            

        </div>
        

      </div>

    </section>

    







     <footer>

              <div class="down">

            <div class="box1">Hands of  Trust</div>
            <div class="box2"><p>123-456-7890</p> 
                              <p> info@mysite.com</p> 
                              <p>500 Terry Francine St. San Francisco, CA 94158</p>
            </div>


            <div class="box3">
              <p><a href="./privacy.html#privacy" style="color: white;">Privacy Policy</a></p>
              <p>Accessibility Statement</p>
              <p>© 2035 by Hands of Trust</p>
              <p>Powered and secured by Wix</p>
            </div>


          </div>

      </footer>


</body>
</html>