

.aboutus{
  width: 100%;
  min-width: 320px;
  /* height: 150vh; */
  background-color: black;
  padding-top: 40px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  color: white;
}


.aboutus .up{
    width: 100%;
    min-width: 320px;
    /* height: 80h; */
    display: flex;
    justify-content: center;
}


.aboutus .up .up-child{
  width: 90%;
  min-width: 320px;
  /* height: 100vh; */
  display: flex;
  align-items: center;
}


.aboutus .up .up-child .left{
  width: 50%;
  min-width: 320px;
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
} 


.aboutus .up .up-child .left h1{
  font-size: 100px;
}


.textup, .textdown{
  width: 90%;
  min-width: 320px;
  display: flex;
  flex-grow: 0.05;
  font-size: 20px;
}


.aboutus .down{
    width: 90%;
    min-width: 320px;
    /* height: 75vh; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 100px;
}

.aboutus .down .title h1{
  font-size: 100px;
  color: white  ;
}


.box{
  width: 200px;
  height: 240px;
  display: flex;
  flex-grow: 0.02;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.boxes{
  width: 100%;
  min-width: 320px;
  /* height: 55vh; */
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}


.boxes .box1 .img{
  width: 80%;
  height: 170px;
  background-image: url(https://static.wixstatic.com/media/11062b_410b5ce530a943808b8dad3a6cf1b866~mv2.jpg/v1/crop/x_0,y_0,w_2000,h_2149/fill/w_146,h_157,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_410b5ce530a943808b8dad3a6cf1b866~mv2.jpg);
  background-size: cover;
}

.boxes .box2 .img{
  width: 80%;
  height: 170px;
  background-image: url(https://static.wixstatic.com/media/84770f_669c5f528fa942429e64f57c53c3fd63~mv2.jpg/v1/crop/x_1160,y_0,w_1599,h_1716/fill/w_146,h_157,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Young%20Woman_edited.jpg);
  background-size: cover;
}

.boxes .box3 .img{
  width: 80%;
  height: 170px;
  background-image: url(https://static.wixstatic.com/media/11062b_67a1e95f99774c919aeab2e7f102571b~mv2.jpg/v1/crop/x_0,y_68,w_2000,h_2151/fill/w_146,h_157,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Portrait%20of%20Businessman%20%20%20%20%20%20.jpg);
  background-size: cover;
}

.boxes .box .text{
  width: 100%;
  height: 50px;
  font-size: 20px;
}
