*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  resize:  none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
}


header{
  display: flex;
  min-width: 320px;
  width: 100%;
  height: 40px;
  background-color: black;
  position: fixed;
}

header .left{
  width: 30%;
  display: flex;
  align-items: center;
  margin-left: 75px;
}

header .left p{
  color: #EB4740;
  font-size: 13px;
}



header .mid{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .mid ul li, header .mid ul li a{
  font-size: 13px;
  color:  #EB4740;
}

header .mid ul li:hover{
  color: white;
  transition: 0.6s;
}

header .mid ul li a:hover{
  color: white;
  transition: 0.6s;
}

header .mid ul{
  display: flex;
  gap: 20px;
}

header .right{
  width: 40%;
  display: flex;
  justify-content: end;
  margin-right:50px;
  align-items: center;
}

header .right .call{
  color:#EB4740 ;
  font-size: 13px;
}


.burgerbox{
  height: 40px;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}


footer .down{
  width: 100%;
  min-width: 320px;
  /* height: 40vh; */
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
   flex-wrap: wrap;
   gap: 120px;
}


footer .down .box1, footer .down .box2, footer .down .box3{
  padding-top: 30px;
  color: white;
}



footer{
  width: 100%;
  min-width: 320px;
  /* height: 120vh; */
  display: flex;
  flex-direction: column;
  
}

.burgerlabel{
  
  height: 20px;
  width: 40px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

#burger {
  display: none;
}


 #burger:checked ~ nav ul li{
  font-size: 30px;
  color: black;
}

#burger:checked ~  nav ul li a{
  font-size: 30px;
  color: black;
}


#burger:checked ~ .burgerbox .burgerline:nth-child(2) {
  display: none;
}


#burger:checked ~ .burgerbox .burgerline:nth-child(1) {
  transform: rotate(45deg) translate(4px);
}


#burger:checked ~ .burgerbox .burgerline:nth-child(3) {
  transform: rotate(-45deg) translate(4px);
}


.burgerline{
  width: 23px;
  height: 3px;
  background-color: #EB4740;
  border: 1px solid #EB4740;
  border-radius: 3px;

}

#burger:checked ~ nav{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 40px;
  left: 0;
  background-color: #EB4740;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#burger:checked ~ nav ul{
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 20px;
}




@media screen and (max-width:560px){

  header .mid ul{
  display: flex;
  gap: 10px;
}

}


@media screen  and (max-width:1300px){
  
  .home-bestfriend{
    height: auto;
  }
}

@media screen and (max-width:520px) {

  header .mid{
    display: none;
  }

  .burgerlabel{
    display: flex;
    align-items: center;
  }
  
}