.privacy{
  width: 100%;
  min-height: 320px;
  // height: 200vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  gap: 60px;

        .title{
          width: 40%;
          min-width: 320px;

          h1{
            font-size: 100px;
          }
        }

      .boxes{
        width: 40%;
        min-width: 320px;
        // height: 150vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 50px;
        justify-content: start
      }
      .box{
        width:100% ;
        min-width: 320px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-grow: 1;
        gap: 35px;
        font-size: 20px;
      }
}