
.service{
  width: 100%;
  min-width: 320px;
  /* height: 150vh; */
  display: flex;
  gap: 200px;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 40px;
}


.title{
  width: 90%;
  min-width: 320px;
  height: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: start;
}

.service .title h1{
  font-size: 120px;
}

.service .title button{
  padding: 10px 24px;
  font-size: 20px;
}

button{
  transition: all 0.5s ease;
}
button:hover{
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: 0.5s;
}



.services{
  width: 90%;
  min-width: 320px;
  /* height: 130vh; */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 100px;
}

.wholebox{
  width: 100%;
  /* height: 210px; */
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.box{
  width: 100%;
  min-width: 320px;
  /* height:200px ; */
  display: flex;
  flex-wrap: wrap;

  
}

.boxtext1{
  width: 50%;
  min-width: 320px;
  /* height: 200px; */
  display: flex;
  flex-grow: 1;
  justify-content: start;
  align-items: start;
  font-size: 30px;
}


.boxtext2{
  width: 50%;
  min-width: 320px;
  /* height: 200px; */
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: start;
  font-size: 22px;
}

.text{
  width: 90%;
  /* height: 150px; */
  display: flex;
  flex-grow: 0.1;
}


.whiteline{
  width: 100%;
  height: 10px;
  background-color: white;
}

@media screen and (max-width:505px) {
  
  .service .title h1{
    font-size: 70px;
  }
}
