
.service{
  width: 100%;
  min-width: 320px;
  /* height: 150vh; */
  display: flex;
  gap: 200px;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 40px;
}


.title{
  width: 90%;
  min-width: 320px;
  height: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: start;
}

.service .title h1{
  font-size: 120px;
}

.service .title button{
  padding: 10px 24px;
  font-size: 20px;
}

button{
  transition: all 0.5s ease;
}
button:hover{
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: 0.5s;
}



.services{
  width: 90%;
  min-width: 320px;
  /* height: 130vh; */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 100px;
}

.wholebox{
  width: 100%;
  /* height: 210px; */
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.box{
  width: 100%;
  min-width: 320px;
  /* height:200px ; */
  display: flex;
  flex-wrap: wrap;

  
}

.boxtext1{
  width: 50%;
  min-width: 320px;
  /* height: 200px; */
  display: flex;
  flex-grow: 1;
  justify-content: start;
  align-items: start;
  font-size: 30px;
}


.boxtext2{
  width: 50%;
  min-width: 320px;
  /* height: 200px; */
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: start;
  font-size: 22px;
}

.text{
  width: 90%;
  /* height: 150px; */
  display: flex;
  flex-grow: 0.1;
}


.whiteline{
  width: 100%;
  height: 10px;
  background-color: white;
}

.animationbox1{
  width: 481px;
  height: 145px;
  position: absolute;
  background-color: black;
  animation: anim1 1.5s ease forwards;
}



.animationbox2{
  width: 252px;
  height: 54px;
  position: absolute;
  background-color: black;
  animation: anim2 1.5s ease forwards;
}



.animationbox3{
  width: 630px;
  height: 159px;
  position: absolute;
  background-color: black;
  animation: anim3 1.5s ease forwards;
}





@media screen and (max-width:505px) {
  
  .service .title h1{
    font-size: 70px;
  }
}



@keyframes anim1 {

  from{
    height: 145px;
  }

  to{
    height: 0px;
  }
  
}



@keyframes anim2 {

  from{
    height: 54px;
  }

  to{
    height: 0px;
  }
  
}


@keyframes anim3 {

  from{
    height: 159px;
  }

  to{
    height: 0px;
  }
  
}


/* @media screen  and (max-width:1300px){
  
  .animationbox3{
    width: 500px;
  }
}

@media screen and (max-width:1060px){
  .animationbox3{
    width: 430px;
    height: 190px;
  }
}

@media screen and (max-width:905px){

  .animationbox3{
    width: 370px;
    height: 220px;
  }
  
}

@media screen and (max-width:821px){
  .animationbox3{
    height: 240px;
  }
}

@media screen and (max-width:779px) {
  .animationbox3{
    width: 320px;
    height: 270px;
  }
}


@media screen and (max-width:711px) {
  .animationbox3{
    width: 570px;
    height: 159px;
  }
  
}

@media screen and (max-width:630px){
  .animationbox3{
    width: 520px;
  }
}

@media screen and (max-width:575px) {
  .animationbox3{
    width: 470px;
  }
}

@media screen and (max-width:549px) {
  .animationbox3{
    height: 190px;
  }
}

@media screen and (max-width:517px) {
  .animationbox3{
    width: 410px;
  }
}

@media screen and (max-width:480px) {
  .animationbox3{
    height:215px ;
  }
}

@media screen and {
  
} */