

.home-bestfriend{
  width: 100%;
  /* height: 100vh; */
  padding-top: 40px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: black;
  gap: 80px;
}

.up1{
  width: 100%;
  /* height: 40%; */
  display: flex;
  background-color: black;
}

.up1 .left h1{
  font-size: 75px;
  font-weight: 900;
  color: white;
}

.up1 .left p{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  font-size: 17px;
  justify-self:end;
  font-weight: 900;
  color: white;
}

.up1 .left{
  width: 30%;
  /* height: 30vh; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 75px;
}

.up1 .right{
  width: 60%;
  /* height: 30vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  margin-right: 75px;
}

.touch{
  padding: 15px 25px;
  border: 1px solid black;
  font-size: 20px;

}


button{
  transition: all 0.5s ease;
}
button:hover{
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: 0.5s;
}

.down1{
  width: 100%;
  /* height: 60%; */
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  gap: 14%;

  
}

.down1 .left, .down1 .mid, .down1 .right{
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.down1 .left .c-info, .down1 .mid .c-info, .down1 .right .c-info{
  width: 100%;
  height: 20px;
  background-color: #EB4740;
  font-size: 13px;
  display: flex;
  /* flex-grow: 1; */
  justify-content: center;
  align-items: center;
}





.down1 .box{
  width: 15%;
  min-width: 320px;
  height: 310px;
  display: flex;
  flex-direction: column;
  flex-grow: 0.1;
}

.down1 .left .img-left{
  width: 100%;
  height: 93%;
  background-image: url(https://static.wixstatic.com/media/84770f_7608def178144eef8f7903c0ddbdeb29~mv2.jpg/v1/fill/w_654,h_640,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Laminate%20Wood%20Floor%20_edited.jpg) ;
  background-size: cover  ;

}


.down1 .mid .img-mid{
  width: 100%;
  height: 93%;
  background-image: url(https://static.wixstatic.com/media/84770f_5a6d490bf4774736b116d06abb018c9e~mv2.jpg/v1/fill/w_327,h_320,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Door%20Technician_edited.jpg  ) ;
  background-size: cover  ;

}

.down1 .right .img-right{
  width: 100%;
  height: 93%;
  background-image: url(https://static.wixstatic.com/media/84770f_637212ffa3bc4df69158350c6644b4fb~mv2.jpg/v1/crop/x_478,y_0,w_2044,h_2000/fill/w_327,h_320,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Plastering%20a%20Wall_edited.jpg ) ;
  background-size: cover  ;

}


.about-us{
  width: 100%;
  min-width: 320px;
  /* height: 100vh; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: black;
}

.about-us .left{
  width: 55%;
  min-width: 320px;
  /* height:100vh ; */
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  
}

.background{
  width: 78%;
  min-width: 320px;
  height: 80vh;
  background-image: url(../images/123.png);
  display: flex;
  flex-grow: 0.3;
  background-position:  right ;
  background-attachment: fixed;
  background-size: cover;




}

.about-us .right{ 
  width: 45%;
  min-width: 320px;
  height: 100vh;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.r-child{
  width: 50%;
  min-width: 320px;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  
}

.about-us .right .r-child .title h1{
  font-size: 80px;
}




.all-services{
  width: 100%;
  min-width: 320px;
  /* height: 120vh; */
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #EB4740 ;
}


.all-services .title{
  width: 100%;
  min-width: 320px;
  /* height: 20vh; */
  /* background-color: aqua; */
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
}




.all-services .up-boxes, .all-services .down-boxes{
  width: 100%;
  min-width: 320px;
  /* height: 40vh; */
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 10%;
  justify-content: center;
  align-items: start;
}

.all-services .box{
  display: flex;
  flex-grow: 0.1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  width: 20%;
  min-width: 320px;
  height: 13%;
  font-size: 20px;
}

.explorebutton{
  width: 100%;
  min-width: 320px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore{
  padding: 7px 15px;
  font-size: 20px;
  border: 1px solid black;
}

.explore:hover{
  background-color: black;
  color: #EB4740;
  border: 1px solid black;
  transition: 0.5s;
}


.benefits{
  width: 100%;
  /* height:90vh; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column  ;
}

.benefits .title{
  width: 22%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.atitle{
  width: 60%;
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: center;
}


.benefits .atitle h1{
  font-size: 100px;
}

.benefitbox{
  width: 260px;
  height: 300px;
  flex-grow: 0.1;
  height: 300px;
  display: flex;
  flex-direction: column; 
}

.benefitbox .arrow{
  width: 70%;
  height: 200px;
  display: flex;
  justify-content: start;
  font-size: 90px;  
  

}


.benefitbox-text{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefitbox-text h1{
  font-size: 40px;
}

.down-benefits{
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: space-around;
}

.linebetween{
  width: 97%;
  height:5px;
  background-color: black;
}

.testimonials{
  width: 100%;
  min-width: 320px;
  /* height: 110vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.testimonials .title h1{
  font-size: 100px;
}


.testimonials .title{
  width: 25%;
  /* height: 30vh; */
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
}

.testimonials .title .atitle{
  width: 60%;
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: center;
}


.testimonial{
  width: 80%;
  min-width: 320px;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.testimonial-boxes{
  width: 100%;
  min-width: 320px;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  align-items: end;
  gap:40px;
  flex-grow: 1;
}



.testimonial .box{
  width: 75%;
  min-width: 320px;
  flex-grow: 0.5;
  height: 150px;
  display: flex;
  flex-direction: column;
}






.testimonial .box .message{
  width: 75%;
  height: 150px;
  display: flex;
}

.testminonial .right{
  width: 20%;
  height: 150px;
}
.testimonial .box .right {
  font-size: 70px;
  color: black;
}

.testimonial .box .left h3 {
  font-size: 22px;
}

.testimonial .box .left  {
  width: 80%;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.t1 .t3{
  align-self: flex-start;
}

.t2{
  display: flex;
  flex-direction: column;
  align-items: end;
}


.contacts{
  width: 100%;
  /* height: 120vh; */
  background-color: black;
  color: white;
}

.contacts .up{
  width: 100%;
  /* height: 100vh; */
  
}

.contacts .down{
  width: 100%;
  min-width: 320px;
  /* height: 40vh; */
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
   flex-wrap: wrap;
   gap: 120px;
}

.contacts .up .left{
  width: 60%;
  min-width: 320px;
  /* height: 100vh; */
  display: flex;    
  justify-content: center;
  align-items: center;
  
}

.contacts .up .left h1{
    font-size: 110px;
}

.contacts .up .left .leftchild{
  width: 80%;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.name{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  flex-grow: 0.1;
  width: 86%;
  height:70px ;
  gap: 10%;
}

input{
  font-size: 20px;
}

.email{
  width: 82.5%;
  height: 90px;
  display: flex;
  flex-direction: column;
}

#email{
  width: 100%;
  height: 40px;
  background-color: black;
  color: WHITE;
  border: 2px solid black;
}

.first-name, .last-name{
  display: flex;
  flex-direction: column;

}

.message{
  width: 82.5%;
  height: 90px;
}

textarea{
  overflow-y: auto;   
  overflow-x: hidden; 
  width: 100%;
  height: 90px;   
  background-color: black;
  border: 2px solid  black;
  color: white;
  font-size: 20px;


}

.first-name, .last-name{
  width: 43%;
  /* min-width: 320px; */
  height: 70px;
  display: flex;
  flex-grow: 0.1;
}


.whiteline{
  width: 100%;
  flex-grow: 0.01;
  height: 10px;
  background-color: white;
}

#firstname, #lastname{
  width: 100% ;
  height:50px;
  background-color: black;
  color: white;
  border: 3px solid black;
  display: flex;
  flex-grow: 0.5;
}

 .register{
  width: 100%;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.contacts .up .left .leftchild .register button{
  padding: 15px 45px;
  font-size: 20px;
  margin-top: 50px;
}

.phone{
  display: flex;
  width: 82.5%;
  height: 70px;
  flex-direction: column;
}

.p-child{
  display: flex;
  width: 100%;
  height: 40px;
}

footer{
  width: 100%;
  min-width: 320px;
  /* height: 120vh; */
  display: flex;
  flex-direction: column;
}

footer .down{
  width: 100%;
  min-width: 320px;
  /* height: 30vh; */
  display: flex;
  flex-wrap: wrap;
}


footer .down .box1, footer .down .box2, footer .down .box3{
  padding-top: 30px;
}

#numbers{
  width: 40%;
  height: 40px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: solid 1px black;
}

#number{
  width: 60%;
  height: 40px;
  background-color: black;
  color: white;
  border: solid 1px black;
}

.whitleline{
  width: 82.5%;
  height: 10px;
  background-color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



@media screen and (max-width:680px) {
  
  .testimonials .title h1{
  font-size: 43px;

    }

  .testimonial-boxes{
    gap: 170px;
  }

    .benefits .atitle h1{
      font-size: 50px;
    }

}

@media screen and (max-width:560px){
 
  header .mid ul{
  display: flex;
  gap: 10px;
}

}

@media screen and (max-width:711px) {
  

  .about-us{
    height: 220vh;
  }
}



@media screen and (max-width:610px){

  .all-services .title{
    font-size: 40px;
  }
  
}

@media screen and (max-width:470px){

  .all-services .title{
    font-size: 30px;
  }
  
  .contacts .up .left .leftchild .title h1{
    font-size: 70px;
  }
}


@media screen and (max-width:980px){
  
  .benefits{
    height: 130vh;
  }
}

@media screen and (max-width:578px){
  
  .benefits{
    height: 190vh;
  }
}

@media screen and (max-width:1250px) {
  
    .testimonials{
      height: 140vh;
    }


}

@media screen and (max-width:685px) {

  .testimonials{
    height: 180vh;
  }
  
}